* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
  }
  .Crewcards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 35vw;
    height: auto;
    border-radius: 20px;
    margin: 100px 350px 100px 350px;
    padding: 10px 10px 10px 10px;
    border: solid 6px black;
    background-color: rgb(53, 52, 52);
  }
  .Crewheader {
    display: flex;
    justify-content: center;
    position: relative;
    width: 35%;
    height: auto;
    border-radius: 20px;
    border: solid 2px white;
  }
   .Astrophoto {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    filter: saturate(1);
  }
  .Astrophoto:hover {
    filter: grayscale(100);
  }
  .Crewsection {
    display: flex;
    flex-direction: column;
    width: 63%;
    height: auto;
    align-items: center;
  }
  .Astrotitle {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    height: auto;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    padding: 5px 5px 5px 5px;
  
  }
  .Astroname {
    text-align: center;
    font-size: 40px;
    color: white;
 }
  .Astroflag{
    width: 100px;
    height: 50px;
  } 
   .trait {
    width: 100%;
    margin-top: 20px;
    border: solid 2px white;
  }
  .description {
    width: 100%;
    height: auto;
    text-align: justify;
    margin-top: 60px;
    margin-bottom: 20px;
    color: white;
  }
  .Learnmore {
    width: 100%;
    text-align: end;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
  }
  .Learnmore:hover {
    color: blue;
  }
