

.FrontPage {
    width: 70vw;
    height: 90vh;
    margin-left: 250px;
}
.pageOption {
    overflow: hidden;
    margin-top: 6vh;
    position: relative;
    width: 100%;
    height: 100%;
}

.option,
.option img {
    width: 100%;
    height: 100%;
    background-color: #666666;
}

.option {
    overflow: hidden;
    position: absolute;
    /* arctan(27 / 40) = 34.01935deg 
   * need to skew by 90deg - 34.01935deg = 55.98065deg
  */
    transform: skewX(-55.98deg);
}

.option:first-child {
    left: -0.25em;
    transform-origin: top left;
}

.option:last-child {
    right: -0.25em;
    transform-origin: bottom right;
}

.option img {
    transform: skewX(55.98deg);
    transform-origin: inherit;
}

img#iss:hover {
    opacity: 0.3;
    transition: 0.5s ease;
}

img#galerie:hover {
    opacity: 0.3;
    transition: 0.5s ease;
}

.option h4 {
    display: none;
}

.option:hover h4 {
    display: block;
    position: absolute;
    top: 300px;
    color: white;
    right: 400px;
    font-size: 4.5em;
    transform: skewX(55.98deg);
}

.option h3 {
    display: none;
}

.option:hover h3 {
    display: block;
    position: absolute;
    color: white;
    top: 550px;
    left: 300px;
    font-size: 4.5em;
    transform: skewX(55.98deg);
}
.col-sm {
    font-size: 10px;
}