.Page {
    height: 108vh;
}

.TriangleHaut {
    -webkit-clip-path: polygon(100% 50%, 50% 100%, 0 50%);
    clip-path: url(#issPhoto);
}

.TriangleDroit {
    -webkit-clip-path: polygon(100% 50%, 50% 100%, 0 50%);
    clip-path: url(#roverPhoto);
}

.TriangleGauche {
    -webkit-clip-path: polygon(100% 50%, 50% 100%, 0 50%);
    clip-path: url(#galeriePhoto);
}

.avatar {
    position: relative;
}

#rover {
    position: absolute;
    top: 0.4vh;
    right: 0vw;
}

#galerie {
    position: absolute;
    top: 0.4vh;
    right: 0.4vw;
}

img {
    width: 100%;
    height: 100%;
}

img#iss:hover {
    opacity: 0.3;
    transition: 0.5s ease;
}

img#galerie:hover {
    opacity: 0.3;
    transition: 0.5s ease;
}

img#rover:hover {
    opacity: 0.3;
    transition: 0.5s ease;
}

.ZoneISS h4 {
    display: none;
}

.ZoneISS:hover h4 {
    display: block;
    position: absolute;
    font-size: 9em;
    top: 40vh;
    color: black;
    right: 46vw;
    margin: auto;
    text-align: center;
}

.ZoneRover h4 {
    display: none;
}

.ZoneRover:hover h4 {
    display: block;
    position: absolute;
    font-size: 9em;
    top: 60vh;
    color: black;
    right: 10vw;
}

.ZoneGalerie h4 {
    display: none;
}

.ZoneGalerie:hover h4 {
    display: block;
    position: absolute;
    top: 60vh;
    font-size: 9em;
    color: black;
    left: 10vw;
    .zoneiss: hover h4;
}