.Page {
    height: 108vh;
}

.avatar {
    position: relative;
}

.TriangleDroit {
    clip-path: url(#roverPhoto);
    opacity: 1;
    display: block;
    transition: 0.5s ease;
}

.TriangleGauche {
    clip-path: url(#galeriePhoto);
    opacity: 1;
    display: block;
    transition: 0.5s ease;
}

.avatar {
    position: relative;
}

#rover {
    position: absolute;
    top: 0.4vh;
    right: 0vw;
}

#galerie {
    position: absolute;
    top: 0.4vh;
    right: 0.4vw;
}

img {
    width: 100%;
    height: 100%;
}

.containerTextISS {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    font-size: 5em;
    z-index: 2;
    top: 35vh;
    color: black;
    right: 40vw;
    transform: translate(-50%, -50%);
    text-align: center;
}

.ZoneISS:hover .TriangleHaut {
    opacity: 0.3;
}

.ZoneISS:hover .containerTextISS {
    opacity: 1;
}

.containerTextRover {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    font-size: 5em;
    top: 60vh;
    color: black;
    right: 0;
    transform: translate(-50%, -50%);
    text-align: center;
}

.ZoneRover:hover .TriangleDroit {
    opacity: 0.3;
}

.ZoneRover:hover .containerTextRover {
    opacity: 1;
}

.containerTextGalerie {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 60vh;
    font-size: 5em;
    color: black;
    left: 14vw;
    transform: translate(-50%, -50%);
    text-align: center;
}

.ZoneGalerie:hover .TriangleGauche {
    opacity: 0.3;
}

.ZoneGalerie:hover .containerTextGalerie {
    opacity: 1;
}